ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    background-color:rgba(255, 255, 255, 0.1);
    
}


ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}

ul li a:hover:not(.active) {
    background-color: #a3c3ff;
}



a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
    
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;

}
body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1.7;
    color: #333;
    background-image: url("../media/background\ image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    animation: pan 25s linear infinite;
    background-repeat: no-repeat;
 
}
.hover{
    border-radius: 50%;
    
}

@keyframes pan {
        0% {
            background-position: 0% center;
        }
        100% {
            background-position: 100% center;
        }
        0% {
            background-position: 0% center;
        }
}

.text-section {
        max-width: 800px;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.5); /* Soft overlay for readability */
        border-radius: 10px;
        padding: 25px 30px;
        backdrop-filter: blur(3px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.08);
        text-align: center;
}
.text-section p {
        margin-bottom: 18px;
        font-size: 0.8rem;
}

.text-section h2, .text-section h3 {
    margin-top: 0;
    font-weight: 600;
    color: #000000;
}
.image-section img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.destinations {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.destination {
    flex: 1;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}