ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    background-color: #7b68e2;
     border: 1px solid #000000;
}


ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #173774;
}

ul li a.active {
  background-color: #ffffff;
}




a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
